@import url(https://fonts.googleapis.com/css?family=Lato);
/* Global Attributes */
* {
    font-family: 'Lato', sans-serif;
}
html,
body {
    height: 100%;
}

/* Cover Landing */

#cover {
    background: #222 url('https://images4.alphacoders.com/568/568014.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}
